<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>566105220440-rlimdrhugfkm8fhkrs4batljq1l9gh73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566105220440-rlimdrhugfkm8fhkrs4batljq1l9gh73</string>
	<key>API_KEY</key>
	<string>AIzaSyBcE7dHu3Y3P_koPVQeGt9D6zRzeSi7a1w</string>
	<key>GCM_SENDER_ID</key>
	<string>566105220440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.habitpunk</string>
	<key>PROJECT_ID</key>
	<string>projectfinal-f539b</string>
	<key>STORAGE_BUCKET</key>
	<string>projectfinal-f539b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566105220440:ios:173b33f990501642a3b12d</string>
</dict>
</plist>